<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>galleryTemplate</key>	<string>Gallery</string>
	<key>journalTemplate</key>	<string>Gallery</string>
	<key>detailTemplate</key>   <string>Detail</string>

	<key>columns</key>			<integer>1</integer>
	<key>minimumColumns</key>	<integer>1</integer>
	<key>maximumColumns</key>	<integer>1</integer>

	<key>rows</key>			    <integer>3</integer>
	<key>minimumRows</key>		<integer>2</integer>
	<key>maximumRows</key>		<integer>20</integer>

	<key>templates</key>	
	<array>
	<dict>
			<key>visibleName</key>	    <string>Gallery</string>
			<key>fileName</key>		    <string>gallery.html</string>
			<key>constrain</key>		<integer>1</integer>
			<key>minimumHeight</key>	<integer>80</integer>
			<key>height</key>		    <integer>150</integer>
			<key>maximumHeight</key>	<integer>400</integer>
			<key>minimumWidth</key>	    <integer>80</integer>
			<key>width</key>		    <integer>150</integer>
			<key>maximumWidth</key>	    <integer>500</integer>
			<key>leftMargin</key>		<integer>15</integer>
			<key>rightMargin</key>	    <integer>15</integer>
			<key>columnSpacing</key>	<integer>13</integer>
			<key>plateMetadata</key>	<integer>0</integer>
			<key>metadataSetDefault</key>	<dict>
				<key>name</key>		<string>Caption</string>
				<key>keys</key>	
			    <array>
					<string>iptcProperties.Caption/Abstract</string>
					<string>exifProperties.ImageDate</string>
					<string>exifProperties.ShutterSpeed</string>
					
				</array>
				</dict>
			<key>maxNavItems</key>		<integer>7</integer>
			<key>style</key>		    <string>Standard</string>
		</dict>
		
		<dict>
			<key>visibleName</key>	    <string>Image Header</string>
			<key>fileName</key>		    <string>journal.html</string>
			<key>constrain</key>		<integer>1</integer>
			<key>minimumHeight</key>	<integer>80</integer>
			<key>height</key>		    <integer>150</integer>
			<key>maximumHeight</key>	<integer>400</integer>
			<key>minimumWidth</key>	    <integer>80</integer>
			<key>width</key>		    <integer>150</integer>
			<key>maximumWidth</key>	    <integer>400</integer>
			<key>leftMargin</key>		<integer>15</integer>
			<key>rightMargin</key>	    <integer>15</integer>
			<key>columnSpacing</key>	<integer>13</integer>
			<key>plateMetadata</key>	<integer>0</integer>
			<key>metadataSetDefault</key>	
			    <dict>
				<key>name</key>		<string>Caption</string>
				<key>keys</key>	
				    <array>
					    <string>iptcProperties.Caption/Abstract</string>
				    </array>
			    </dict>
			<key>maxNavItems</key>	    <integer>7</integer>
			<key>style</key>		    <string>Standard</string>
		</dict>
		
		<dict>
			<key>visibleName</key>	    <string>Text Header</string>
			<key>fileName</key>		    <string>gallery.html</string>
			<key>constrain</key>		<integer>1</integer>
			<key>minimumHeight</key>	<integer>80</integer>
			<key>height</key>		    <integer>150</integer>
			<key>maximumHeight</key>	<integer>400</integer>
			<key>minimumWidth</key>	    <integer>80</integer>
			<key>width</key>		    <integer>150</integer>
			<key>maximumWidth</key>	    <integer>400</integer>
			<key>leftMargin</key>		<integer>15</integer>
			<key>leftMargin</key>		<integer>15</integer>
			<key>rightMargin</key>	    <integer>15</integer>
			<key>columnSpacing</key>	<integer>13</integer>
			<key>plateMetadata</key>	<integer>0</integer>
			<key>metadataSetDefault</key>	<dict>
				<key>name</key>		<string>Caption</string>
				<key>keys</key>	
			    <array>
					<string>iptcProperties.Caption/Abstract</string>
				</array>
				</dict>
				<key>maxNavItems</key>	<integer>7</integer>
			<key>style</key>		    <string>Standard</string>
		</dict>
		
		<dict>
			<key>visibleName</key>	    <string>Detail</string>
			<key>fileName</key>		    <string>detail.html</string>
			<key>constrain</key>		<integer>0</integer>
			<key>width</key>		    <integer>1000</integer>
			<key>minimumWidth</key>	    <integer>320</integer>
			<key>maximumWidth</key>	    <integer>1200</integer>
			<key>height</key>		    <integer>750</integer>
			<key>minimumHeight</key>	<integer>320</integer>
			<key>maximumHeight</key>	<integer>800</integer>
			<key>plateMetadata</key>	<integer>0</integer>
			<key>metadataSetDefault</key>	
			    <dict>
				    <key>name</key>		<string>Basic</string>
				    <key>keys</key>	
				    <array>
					    <string>iptcProperties.Caption/Abstract</string>
					    <string>exifProperties.ApertureValue</string>
					    <string>exifProperties.ShutterSpeed</string>
					    <string>exifProperties.ImageDate</string>
					    <string>exifProperties.Altitude</string>
   						<string>exifProperties.Latitude</string>
   						<string>exifProperties.Longitude</string>
				    </array>
			    </dict>
			<key>maxNavItems</key>	    <integer>11</integer>
			<key>style</key>		    <string>banana</string>
		</dict>
	</array>

	<key>styles</key>   
	<array>
		<dict>
			<key>visibleName</key>	    <string>Standard</string>
			<key>files</key>		
			<array>
				<dict>
					<key>filePath</key>		    <string>global.css</string>
					<key>styleIndex</key>		<integer>0</integer>
				</dict>
			</array>
		</dict>
		
		<dict>
			<key>visibleName</key>	    <string>White</string>
			<key>files</key>		
			<array>
				<dict>
					<key>filePath</key>		    <string>white.css</string>
					<key>styleIndex</key>		<integer>0</integer>
				</dict>
			</array>
		</dict>
		
	</array>
	
	<key>journalTemplates</key>	<array>
		<string>Text Header</string>
		<string>Image Header</string>
	</array>
	
	<key>supportingFiles</key>		
	<array>
		<string>assets</string>
	</array>
	
</dict>
</plist>
